<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="hug_provider" />
    <dubbo:registry address="${dubbo.registry.address}" file="${dubbo.cache.file}"/>
    <dubbo:protocol name="${dubbo.protocol.name}" host="${dubbo.protocol.host}" port="${dubbo.protocol.web.port}" accesslog="${dubbo.protocol.accesslog}"/>
    <dubbo:provider timeout="${dubbo.timeout}" retries="${dubbo.retries}"/>

    <import resource="dubbo/dubbo-provider.xml"/>
    <import resource="dubbo/dubbo-consumer.xml"/>
</beans>